body{
    background-color: paleturquoiso;
    font-size: 36px;
    margin: 0px;
}

@font-face {
    font-family:"AppleGaramond-Light.ttf";
    src: url("AppleGaramond-Light.ttf") format('truetype');
}
    

div{
    box-sizing: border-box;
}

img {
    width: 100%;
}

div.row {
display: flex;
flex-wrap: wrap;

}


div.col {
outline: 2px solid black;
padding: 20px;
height: 1000px;
}


div.width100 {
    width: 100%;
}

div.width80 {
    width: 80%;
}

div.width75 {
    width: 75%;
}

div.width25 {
    width: 25%;
}

div.width66 {
    width: 66.66%;
}

div.width33 {
    width: 33.33%;
}

div.width50 {
    width: 50%;
}

div.width25 {
    width: 25%;
}

div.height400 {
    height: 400px;
}

div.height200 {
    height: 200px;
}


   



div.title {
    font-size:26vw;
    line-height: 20vw;
    outline: 2px solid black;
}

span.yourself {
    margin-left: 4vw;
}

video.webcam {
    width: 100%;
}

div.smallcircle {
    margin-top: 200px;
    margin-left: 30px;
    width: 30%;
}

div.mediumcircle {
    margin-top: 20px;
    margin-left: 60px;
    overflow: hidden;
}

div.mediumcircle img {
    width: 120%;
}

div.texttitle {
    font-family: "AppleGaramond-Light.ttf";
}

div.textbody {
    font-family: "AppleGaramond-Light.ttf";
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    
}

div.banner {
    font-size:36px;
    background-color: red;
    margin-bottom:100px;
  }

